# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env/
.pytest_cache/
.pytest_tmp/

# R
.Rhistory
.Rproj.user/
.RData

# Local artifacts
results/
figures/
*.log
.vscode/

# Data (no version large raw datasets)
data/RAW/
data/raw/
data/*.zip
data/*.idat
data/*_beta_matrix.csv
data/*_beta_matrix_named_partial.csv
data/PROCESSED/*.ods

# Other big stuff
*.rds
*.RDS
*.h5
*.hdf5
*.npz
*.npy
*.pkl
